body {
	background: #dc3545;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.container {
	margin-top: 3em;
	background: #3f51b5;
	color: #333;
	
}

.profile-picture{
	
	img {
		max-width: 100%;
	}
	
}
p {
	
	font-family: Roboto, sans-serif;
	font-size: 1rem;
	line-height: 1.9;
}

.profile-picture {
	background: #eee;
}

.m_1-5 {
	padding: 1.5em;
}

.profile-links {
	background: #2196f3;
	padding: 1em;
	font-weight: 400;
	color: #eee;
	li {
		margin: 0.375em 0;
		border-bottom: thin dotted #eee;
		padding: 0.35em 0;
		font-siize: 0.75rem;
		&:last-child {
			border: 0;
		}
	}
	
	a { 
		color: #fff;
		font-size: 0.9rem;
		clear: both;
	}
}


nav {
	width: 100%;
	background: #333;
	height: 50px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav {

	ul {
		height: 50px;
		max-width: 25%;
			margin: 0 auto;
		
		li {
			display: inline;
			padding-left: 1em;
		}
		
		a {
			line-height: 50px;
			padding-left: 1em;
			text-transform: capitlaize;
		}
	}
}